.brand-link {
    font-size: 1.1em !important;
    line-height: 2.05em !important;
}

#summary_global_ui_1-wCasesBox .small-box>.inner,
#summary_global_ui_1-wDeathsBox .small-box>.inner,
#summary_global_ui_1-bigDailyBox .small-box>.inner,
#summary_global_ui_1-worstHitCountryBox .small-box>.inner,
#summary_global_ui_1-increaseDeathBox .small-box>.inner,
#summary_global_ui_1-bigDecreaseBox .small-box>.inner {
  height: 150px;
}

.card-title {
  color: #164b53 !important;
}

.btn-light {
    color: #164b53 !important;
    background-color: #fff !important;
    border-color: #164b53 !important;
}

.irs-single,  .irs-bar-edge, .irs-bar {
  background: #046874 !important;
  border-color: #046874 !important;
}

body {
  font-size: 0.85em !important;
}

.form-control{
  color:#164b53 !important;
  border-color:#164b53 !important;
}
