.main-sidebar, .main-sidebar::before {
    width: 180px;
}

@media (min-width: 576px) {
  .content-wrapper, .main-footer, .main-header {
      margin-left: 180px;
  }
}

.brand-link {
    font-size: 0.9em;
    line-height: 2.0em;
}

#summary_global_ui_1-wCasesBox .small-box>.inner,
#summary_global_ui_1-wDeathsBox .small-box>.inner,
#summary_global_ui_1-bigDailyBox .small-box>.inner,
#summary_global_ui_1-worstHitCountryBox .small-box>.inner,
#summary_global_ui_1-increaseDeathBox .small-box>.inner,
#summary_global_ui_1-bigDecreaseBox .small-box>.inner {
  height: 150px;
}

